.conteiner-center{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(87, 135, 245, 1);
    padding: 0 12px;
    flex-direction: column;
}
.login{
    background-color: rgba(239, 242, 249, 1);
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 38px;
    box-shadow: 10px 5px 5px rgb(85, 123, 227);
}
.login-area{
    background-color:rgba(87, 135, 245, 1) ;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login-area img{
    width: 170px;
    height: 130px;
    padding: 20px;
}
form{
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.login input{
    margin-bottom: 1rem;
    height: 10px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-size: 15px;
    background-color: rgba(217, 217, 217, 1);
}
form button{
    height: 35px;
    border-radius: 32px;
    border: 0;
    background-color: rgba(87, 135, 245, 1);
    color: #fff;
}
.link{
    flex-direction: row;
    margin: 1.5rem 0;
}
.link a{
    cursor: pointer;
    color: rgba(87, 135, 245, 1);
    text-decoration: none;
}
.input-img{
    background-color: rgba(217, 217, 217, 1) ;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    gap:6px;
    border-radius: 35px;
    flex-direction: row;
}
.input-img input{
    color: #fff;
    width: 100%;
}
.input-img input::placeholder{
    color: #fff;
}
.botão-voltar{
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 800px;
    margin-top: 25px;
}
.botão-voltar img{
    height: 40px;
    width: 40px;
}